*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    /* background-image:url("images/fflogos/main-pic.jpg") ; */
    background-size: cover;
    height: 845px;
    width: 100vw;
}

.logo1 {
    width: 125px;
}

.myLogo {
    width: 100px;
}

.facebook {
    width: 3%;
    
}

.twitter {
    width: 3%;
    
}

.instagram {
    width: 3%;
}