*{  
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

/* //HOME PAGE STYLING// */
html, body {
    margin: 0;
    padding: 0;

}

.main-header {
    background-color: black;
    background-image: url("images/fflogos/tours-img.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border: 3px solid black;
    padding: 0;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.nav li {
    display: inline-block;
}

.nav a {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    opacity: 70%;
}

.nav a:hover {
    background-color:rgb(15, 90, 65);
}

.body1 {
    background-image: url("https://nature.arizona.edu/sites/snre.arizona.edu/files/Watershed-Management-%26-Ecohydrology_marquee.jpg");
    background-color: aqua;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    flex-grow: 1;
    padding: 120px .01rem;
}

.logo1 {
    width: 60px;
    height: 60px;
}

.myLogo {
    width: 45px;
}

.flies {
    width: 20%;
}

.flies2 {
    width: 20%;
}

.flies3 {
    width: 20%;
}

.flies4 {
    width: 20%;
}

.hfooter {
    /* border: solid black;
    border-width: 2px; */
    background-color: black;
    opacity: 80%;
    margin-top: auto;
    
}

.hfooter-container ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.hfooter-nav li {
    display: inline-flex;
    
}

.hfooter-nav img {
    width: 30px;
    height: 30px;
}

.main-header,
.hfooter {
    position: fixed;
    padding: 1rem;
    width: 100%;
    max-width: inherit;
}

.main-header {
    top: 0;
}

.hfooter {
    bottom: 0;
}

main {
    flex-grow: 1;
    padding: 120px 1rem;
}

.home-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    color: antiquewhite;
    margin: 1em;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.tour-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin: 1em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.5em;
}

.container {
    background-color: black;
    opacity: 70%;
    border: solid black 5px;
    border-radius: 10px;
}

.tour-row {
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
    /* color: antiquewhite; */
}

.tour-date {
    font-weight: bolder;
    /* color: antiquewhite; */
    width: 10%;
}

.tour-day {
    width: 40%;
}

.tour-location {
    width: 40%;
}

/* .tour-btn {
    max-width: 20%;
} */











.p1 {
    background-color: black;
    
}

.nymph-img img {
  width: 150px;
  height: 150px;
}

/* .dry-img {
    width: 300px;
    height: 300px;
}  

.box-img {
    width: 250px;
    height: 250px;
}

.acc-img {
    width: 250px;
    height: 250px;
}  */

.tour-div {
    color: black;
}






